
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="charity_donation_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5038987254038729~7686850762"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding version -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- UPI App Queries -->
    <queries>
        <!-- Google Pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        
        <!-- PhonePe -->
        <package android:name="com.phonepe.app" />
        
        <!-- Paytm -->
        <package android:name="net.one97.paytm" />
        
        <!-- Amazon Pay -->
        <package android:name="in.amazon.mShop.android.shopping" />
        
        <!-- BHIM UPI -->
        <package android:name="in.org.npci.upiapp" />
        
        <!-- WhatsApp Pay -->
        <package android:name="com.whatsapp" />
        
        <!-- CRED -->
        <package android:name="com.dreamplug.androidapp" />
        
        <!-- Mobikwik -->
        <package android:name="com.mobikwik_new" />
        
        <!-- Generic UPI intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>
</manifest>

